<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel="styleSheet" type="text/css" href="/static/style.css"/>
	</head>
	<body>
		<h1>GPIO Control</h1><br>
		<h2>Actoutors status</h2>
		<h3>LED_1 --> {{led_1}}</h3>
		<h3>LED_2 --> {{led_2}}</h3>
		<h3>LED_3 --> {{led_3}}</h3>
		<br>
		<h2>Control</h2>
		<h3>LED_1->> <a href = "/led_1/on" class = "button"> TURN ON</a>
				<a href = "/led_1/off" class = "button">TURN OFF</a></h3>
		<h3>LED_2->> <a href = "/led_2/on" class = "button"> TURN ON</a>
                <a href = "/led_2/off" class = "button">TURN OFF</a></h3>
		<h3>LED_3->> <a href = "/led_3/on" class = "button"> TURN ON</a>
                <a href = "/led_3/off" class = "button">TURN OFF</a></h3>
	</body>
</html>
